.signUp{
        width: 50vw;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        border:3px solid rgb(109, 3, 3);
        padding:2.5vw;
        margin-top: 1vw;
        
}
.sidebar>h3{
        color:rgb(109, 3, 3);
        font-family: Arial, sans-serif;
        font-size: 1.5vw;
}
.inpfields{
        height: 2vw;
        width:80%;
        margin-right: 1vw;
        border: 1px solid #900C3F;
        font-family:Arial, sans-serif;
        font-size: .9vw;
        margin-bottom: .5vw;
        margin-left: auto;
        margin-right: auto;
}
    .inpfields:focus{
        outline: 1px solid #900C3F;
    }